<!DOCTYPE html>
<html>
<%- include('./partials/header.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>

	<div class="not-found content">
		<h2>OOPS - 404 NOT FOUND</h2>
	</div>

	<%- include('./partials/footer.ejs') %>
</body>
</html>