<!DOCTYPE html>
<html>
<%- include('./partials/header.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>

	<div class="about content">
		<h2>About Us</h2>
		<p>Lorem ipsum dolor sit ament</p>
		<p>Lorem ipsum dolor sit ament</p>
		<p>Lorem ipsum dolor sit ament</p>
		<p>Lorem ipsum dolor sit ament</p>
	</div>
	
	<%- include('./partials/footer.ejs') %>
</body>
</html>